.tariff_area {
    width: 385px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.card_back-block {
    width: 100%;
    height: 100px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    padding-top: 17px;
}

.card-title {
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
}

.card_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 380px;
    background-color: white;
    border-radius: 22px;
    color: black;
    font-size: 18px;
    position: relative;
    z-index: 2;
    top: -35px;
    padding-top: 6%;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: start;
    padding: 25px 0;
}

.card-item {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.icon {
    margin-right: 5px;
}

.icon-available {
    color: green;
    line-height: 1;
    font-size: 26px;
}

.card-price {
    font-family: 'Montserrat', sans-serif;
    margin-top: 18px;
    font-size: 36px;
    font-weight: 600;
}

.tariff-button {
    margin-top: 24px;
}


@media (max-width: 1440px) {
    .tariff_area {
        width: 350px;
        gap: 0px;
    }

    .card_back-block {
        height: 100px;
        padding-top: 2%;
    }

    .card_area {
        padding: 18px 36px;
        top: -35px;
    }

    .card-list {
        gap: 10px;
    }

    .card-price {
        margin-top: 20px;
        font-size: 24px;
    }

    .tariff-button {
        margin-top: 14px;
    }

    .tariff-button {
        width: 276px;
        height: 65px;
    }
}

@media (max-width:1280px) {
    .card-title {
        font-size: 28px;
    }

    .tariff_area {
        min-width: 300px;
        max-width: 350px;
    }

    .card_area {
        height: auto;
    }

    .card-item {
        font-size: clamp(1rem, 0rem + 1.5625vw, 1.25rem);
    }
}

@media (max-width:1025px) {
    .tariff_area {
        min-width: 250px;
        max-width: 300px;
    }
}

@media (max-width:480px) {
    .tariff_area {
        width: 345px;
        min-height: 400px;
    }

    .card_back-block {
        padding-top: 15px;
        height: 85px;
    }

    .card_area {
        padding: 23px 20px;
        font-size: 13px;
        height: auto;
    }

    .card-title {
        font-size: 20px;
    }

    .icon-available {
        font-size: 22px;
    }

    .card-price {
        font-size: 22px;
    }

    .card-price_about {
        width: 100%;
    }
}

@media (min-width:2100px) {

    .tariff_area {
        width: 450px;
    }

    .card_area {
        top: -25px;
        height: 450px;
    }

    .card-title {
        font-size: 35px;
    }

    .card-item {
        font-size: 24px;
    }

    .card-price {
        font-size: 40px;
    }
}