.tariff_area {
    width: 385px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card_back-block {
    width: 100%;
    height: 140px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    padding-top: 17px;
}

.card-title {
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
}

.card_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 22px;
    color: black;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 13%;
    padding: 26px 36px;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

.card-item {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.icon {
    margin-right: 5px;
}

.icon-available {
    color: green;
    line-height: 1;
    font-size: 26px;
}

.card-price {
    font-family: 'Montserrat', sans-serif;
    margin-top: 38px;
    font-size: 36px;
    font-weight: 500;
}

.tariff-button {
    margin-top: 24px;
}

@media (max-width: 1440px) {
    .tariff_area {
        width: 350px;
        gap: 0px;
    }

    .card_back-block {
        height: 100px;
        padding-top: 12px;
    }

    .card_area {
        height: 423px;
        padding: 18px 36px;
    }

    .card-list {
        gap: 10px;
    }

    .card-price {
        margin-top: 20px;
        font-size: 24px;
    }

    .tariff-button {
        margin-top: 14px;
    }

    .tariff-button {
        width: 276px;
        height: 65px;
    }
}