.features-block {
    min-height: 1135px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 160px;
    padding: 200px 20px 0px;
    background-color: #F6F6F6;
    position: relative;
}

.girl-background {
    background-image: url(../../images/character\ pic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    width: 32vw;
    height: 32vh;
    position: absolute;
    right: 0;
    bottom: -344px;
    z-index: 2;
}

.features-background {
    background-image: url(../../images/features-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 93vw;
    height: 52vh;
    position: absolute;
    top: 17px;
    left: 0%;
}

.features-img {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.phone-image {
    width: 300px;
    height: 500px;
}

.arrow_area {
    padding-left: 35px;
}

.arrow_area-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow_area-button:hover {
    background-color: #FF9B05;
}

.arrow-img {
    width: 50px;
    height: 40px;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
    max-width: 657px;
}

.features-title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(3rem, 1.9375rem + 0.8854vw, 4.0625rem);
    font-weight: 800;
    text-transform: uppercase;
}

.features-title::before {
    content: '';
    background-image: url(../../images/features-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4%;
    height: 5%;
    position: absolute;
    top: 14%;
    left: 44%;
}

.features-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.features-list-item {
    position: relative;
    cursor: pointer;
    padding-left: 30px; /* Отступ для маркера */
    transition: color 0.3s, font-size 0.3s;
    font-size: 20px; /* Обычный размер шрифта */
    color: #B3ACAC; /* Обычный цвет текста */
    text-align: left;
}

.features-list-item.active {
    color: #26242A; /* Цвет текста активного элемента */
}

/* Псевдоэлемент для кастомного маркера */
.features-list-item.active::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 18px; /* Ширина маркера */
    height: 18px; /* Высота маркера */
    background-image: url(../../images/marker.png);
    background-size: contain; /* Масштабирование изображения */
    background-repeat: no-repeat;
}

@media (min-width:1440px) and (max-width:1699px) {
    .girl-background {
        display: none;
    }
}

@media (min-width:1440px) and (max-width:1919px) {
    .features-block {
        padding: 220px 20px 0px;
    }

    .features-content {
        gap: 50px;
    }

    .features-title {
        font-size: clamp(2.5rem, 1rem + 1.6667vw, 3rem);
    }

    .features-title::before {
        top: 16%;
        left: 43%;
    }

    .features-list {
        gap: 30px;
    }
}

@media (min-width: 2100px) {
    .features-background {
        width: 80vw;
        left: 6%;
    }
}

@media (min-width: 2500px) {
    .features-background {
        display: none;
    }

    .features-title::before {
        left: 46%;
    }
}

@media (min-width: 3150px) {
    .features-title::before {
        top: 15%;
        left: 46%;
    }
}