.features-block {
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    padding: 200px 20px 0px;
    background-color: #F6F6F6;
    position: relative;
}

.features-container {
    display: flex;
    align-items: start;
    gap: 100px;
}

.girl-background {
    background-image: url(../../images/background/back-girl.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    width: 81vw;
    height: 79vh;
    position: absolute;
    right: 0;
    bottom: -380px;
    z-index: 2;
}

.features-background {
    background-image: url(../../images/background/features-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 93vw;
    height: 95vh;
    position: absolute;
    top: 7px;
    left: 0%;
}

.features-img {
    width: 20vw;
    height: auto;
    margin-top: 15px;
}

.feature-image-item {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Изображение растягивается без искажений */
}

.arrow_area {
    padding-left: 35px;
}

.arrow_area-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow_area-button:hover {
    background-color: #FF9B05;
}

.arrow-img {
    width: 50px;
    height: 40px;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 60px;
    max-width: 657px;
}

.features-title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.75rem, 1.4466rem + 1.2945vw, 3rem);
    font-weight: 800;
    text-transform: uppercase;
}

.features-title::before {
    content: '';
    background-image: url(../../images/decor/features-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4%;
    height: 8%;
    position: absolute;
    top: 14%;
    left: 42%;
}

.current-function {
    display: none;
}

.features-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.features-list-item {
    position: relative;
    cursor: pointer;
    padding-left: 30px; /* Отступ для маркера */
    transition: color 0.3s, font-size 0.3s;
    font-size: 20px; /* Обычный размер шрифта */
    color: #B3ACAC; /* Обычный цвет текста */
    text-align: left;
}

.features-list-item.active {
    color: #26242A; /* Цвет текста активного элемента */
}

/* Псевдоэлемент для кастомного маркера */
.features-list-item.active::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 18px; /* Ширина маркера */
    height: 18px; /* Высота маркера */
    background-image: url(../../images/marker.png);
    background-size: contain; /* Масштабирование изображения */
    background-repeat: no-repeat;
}

.mobile-container {
    display: none;
}

@media (max-width:375px) {
    .features-container {
        display: none;
    }

    .mobile-container {
        display: block;
        
    }
    
    .features-block {
        padding: 100px 20px 20px;
        flex-direction: column;
        gap: 0;
        align-items: center;
        min-height: 835px;
    }

    .features-background {
        background-image: url(../../images/background/features-circles-mob.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 65px;
        left: 0%;
    }

    .features-title {
        font-size: 24px;
    }
    
    .features-title::before {
        display: none;
    }

    .girl-background {
        display: none;
    }

    .features-img {
        width: 252px;
        height: 449px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .features-list {
        display: none;
    }

    .features-list-item {
        font-size: 16px;
        padding: 0;
    }

    .mobile-color {
        color: black;
        max-width: 253px;
        min-height: 70px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .current-function {
        display: block; /* Отображаем текущую функцию */
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        color: black;
    }
}

@media (min-width:376px) and (max-width:1440px) {
    .features-background {
        display: none;
    }

    .girl-background {
        display: none;
    }

    .features-title {
        font-size: clamp(2.5rem, 1rem + 1.6667vw, 3rem);
    }

    .features-content {
        gap: 40px;
    }

    .features-title::before {
        top: 20%;
        left: 42%;
    }

    .features-list {
        gap: 17px;
    }


}

@media (min-width:1440px) and (max-width:1800px) {
    .girl-background {
        display: none;
    }
}

@media (min-width:1440px) and (max-width:1919px) {
    .features-block {
        padding: 220px 20px 0px;
    }

    .features-content {
        gap: 50px;
    }

    .features-title {
        font-size: clamp(2.5rem, 1rem + 1.6667vw, 3rem);
    }

    .features-title::before {
        top: 16%;
        left: 43%;
    }

    .features-list {
        gap: 30px;
    }
}

@media (min-width: 2100px) {
    .features-background {
        width: 80vw;
        left: 6%;
    }

    .features-title::before {
        top: 12%;
        left: 46%;
    }

    .features-img {
        width: 18vw;
    }
}

@media (min-width: 2500px) {
    .features-background {
        display: none;
    }

    .girl-background {
        height: 87vh;
        bottom: -474px;
    }

    .features-title::before {
        left: 49%;
    }

    .features-img {
        width: 16vw;
    }
}

@media (min-width: 3150px) {
    .features-title::before {
        top: 15%;
        left: 46%;
    }

    .features-img {
        width: 13vw;
    }
}