@font-face {
  font-family: 'Montserrat';
  src: url('../src/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../src/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.App {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  height: 100%; 
  width: 100%;
  background: linear-gradient(to right, #211F1F, #323144);
  margin: 0 auto;
}