.header_content {
    width: 100%;
    min-height: 1015px;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.layout {
    background: url("../../images/backVector.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 33%;
    z-index: -2;
}

.back-picture {
    background: url("../../images/headquarters.png"); 
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -7%;
    left: 0;
    z-index: -1;
}

.back-circles {
    background: url(../../images/header-circles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 86%;
    height: 56%;
    position: absolute;
    top: 8%;
    left: 7%;
    z-index: -1;
} 

.header-text-area {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    margin-left: 409px;
    margin-top: 235px;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase; 
    text-align: left;
    width: 553px;
    height: 118px;
    max-width: 553px;
}

.header-title::before {
    content: '';
    background-image: url(../../images/arrows.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 288%;
    height: 504%;
    position: absolute;
    top: -39%;
    left: -14%;
}

.title-line {
    width: 110px;
    height: 5px;
    background: linear-gradient(to right, #E97004, #FF4900);
}

.header-text {
    max-width: 553px;
    font-size: 18px;
    text-align: left;
}

.img-area {
    width: 721px;
    height: 813px;
    margin-top: 9%;
    margin-left: 1%;
}