.header_content {
    width: 100%;
    min-height: 1015px;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.layout {
    background: url("../../images/header-bottom-pic.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 33%;
    z-index: -2;
}

.back-circles {
    background: url(../../images/header-circles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 86%;
    height: 56%;
    position: absolute;
    top: 9%;
    left: 7%;
    z-index: -1;
} 

.header-text-area {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    margin-left: 21%;
    margin-top: 235px;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase; 
    text-align: left;
    width: 553px;
    height: 118px;
    max-width: 553px;
}

.header-title::before {
    content: '';
    background-image: url(../../images/arrows.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 288%;
    height: 504%;
    position: absolute;
    top: -39%;
    left: -14%;
    z-index: -1; /* Убедитесь, что псевдоэлемент находится ниже по z-index */
    pointer-events: none; /* Это предотвратит блокирование кликов */
}

.title-line {
    width: 110px;
    height: 5px;
    background: linear-gradient(to right, #E97004, #FF4900);
}

.header-text {
    max-width: 553px;
    font-size: 18px;
    text-align: left;
}

.img-area {
    max-width: 790px;
    max-height: 812px;
    margin-top: 169px;
    margin-left: 1%;
}

.hero-img {
    height: 100%;
}

@media (min-width:1440px) and (max-width:1699px) {
    .header_content {
        height: 100%;
    }

    .header-text-area {
        margin-left: 13%;
        margin-top: 266px;
    }

    .layout {
        display: none;
    }

    .back-circles {
        display: none;
    }

    .header-title {
        font-size: clamp(2.5rem, 1rem + 1.6667vw, 3rem);
    }

    .img-area {
        max-width: 626px;
        max-height: 760px;
    }
}

@media (min-width:1700px) and (max-width:1919px) {
    .back-circles {
        display: none;
    }
}

@media ((min-width: 2100px)) {

    .header-text-area {
        margin-left: 24%;
    }

    .layout {
        top: 37%;
    }

}

@media ((min-width: 2300px)) {

    .header-text-area {
        margin-left: 27%;
    }

    .layout {
        background-size: cover;
        top: 45%;
    }
    
}

@media ((min-width: 2600px)) {

    .header-text-area {
        margin-left: 32%;
    }

    .layout {
        background-size: cover;
        top: 48%;
    }

    .back-circles {
        left: 10%;
    }
        
}