.language-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.selected-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #211F1F;
    padding: 5%;
    border-radius: 4px;
    min-width: 123px;
    min-height: 58px;
}

.flag-icon {
    width: 30px;
    height: 20px;
}

.language-name {
    font-size: clamp(1.0625rem, 0.6904rem + 0.3101vw, 1.5625rem);
    font-weight: normal;
}

.arrow {
    font-size: clamp(1.0625rem, 0.6904rem + 0.3101vw, 1.5625rem);
    /* размер стрелки */
    line-height: 1;
    /* Чтобы стрелки не искажались по вертикали */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #211F1F;
    opacity: 0.8;
    border-radius: 4px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #211F1F;
}

.selected {
    background-color: #211F1F;
}

@media (max-width:1700px) {
    .selected-language {
        gap: 5px;
        min-width: 86px;
        min-height: 46px;
    }

    .flag-icon {
        width: 30px;
        height: 24px;
    }

    .language-name {
        font-size: 12px;
    }

    .arrow {
        font-size: 12px;
        /* размер стрелки */
    }

    .dropdown-item {
        gap: 5px;
        font-size: 12px;
    }
}

@media (max-width:1024px) {
    .selected-language {
        gap: 5px;
        min-width: 66px;
        min-height: 36px;
    }

    .flag-icon {
        width: 20px;
        height: 14px;
    }

    .language-name {
        font-size: 12px;
    }

    .arrow {
        font-size: 12px;
        /* размер стрелки */
    }

    .dropdown-item {
        gap: 5px;
        font-size: 12px;
    }
}