html {
    scroll-behavior: smooth; /* Плавная прокрутка для всех якорных ссылок */
}


.header-container {
    background: linear-gradient(to right, #211F1F, #323144);
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: fixed; /* Закрепляем меню */
    top: 0; /* Привязываем его к верхней части окна */
    left: 0;
    width: 100%; /* Ширина меню на всю страницу */
    padding: 2% 20%;
    z-index: 10; /* Устанавливаем высокий z-index, чтобы меню было выше контента */
}

.header-logo {
    font-size: clamp(2.25rem, 1.7849rem + 0.3876vw, 2.875rem);
    color: #CF4D4F;
}

.menu-list {
    display: flex;
    margin-left: 28px;
    gap: 95px;
    font-size: clamp(1.25rem, 0.7849rem + 0.3876vw, 1.875rem);
}

.menu-list-item a {
    text-decoration: none;
    position: relative;
    color: white;
}

.menu-list-item a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Отступ от текста */
    width: 100%; /* Начальное состояние черточки */
    height: 2px; /* Толщина черточки */
    background-color: #E96F05; /* Цвет черточки */
    transform: scaleX(0); /* Линия сжимается до 0 (невидима) */
    transition: transform 0.3s ease; /* Плавное изменение ширины */
    transform-origin: center; /* Анимация начинается с центра */
}

.menu-list-item a:hover::after {
    transform: scaleX(1);
}

.menu-list-item a.active::after {
    transform: scaleX(1);
}

/* Стили для выпадающего списка языков */
.language-dropdown {
    position: relative;
}

@media (max-width:1440px) {
    .header-container {
        padding: 2% 10%;
    }
}

@media (max-width:1280px) {
    .header-container {
        padding: 2% 5%;
    }
    
    .menu-list {
        font-size: clamp(1rem, 0rem + 1.5625vw, 1.25rem);
    }
}

@media (max-width:1024px) {
    .header-logo {
        font-size: clamp(1.625rem, -0.25rem + 3.9063vw, 2.25rem);
    }

    .menu-list {
        gap: 35px;
    }
}

@media (max-width:480px) {
    .header-container {
        padding: 10px;
        gap: 55px;
        background: #211F1F;
    }

    .header-logo {
        font-size: 24px;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 12px;
        margin-left: 0;
    }
}