html {
    scroll-behavior: smooth;
}


.header-container {
    background: linear-gradient(to right, #211F1F, #323144);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 20%;
    z-index: 10;
}

.header-logo {
    font-size: clamp(2.25rem, 1.7849rem + 0.3876vw, 2.875rem);
    color: #CF4D4F;
}

.menu-list {
    display: flex;
    margin-left: 28px;
    gap: 95px;
    font-size: clamp(1.25rem, 0.7849rem + 0.3876vw, 1.875rem);
}

.menu-list-item a {
    text-decoration: none;
    position: relative;
    color: white;
    white-space: nowrap;
}

.menu-list-item a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #E96F05;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: center;
}

.menu-list-item a:hover::after {
    transform: scaleX(1);
}

.menu-list-item a.active::after {
    transform: scaleX(1);
}

.language-dropdown {
    position: relative;
}

@media (max-width:1700px) {
    .header-container {
        padding: 2% 10%;
    }

    .header-logo {
        font-size: 28px;
    }

    .menu-list {
        gap: 20px;
        font-size: 22px;
    }
}

@media (max-width:1280px) {
    .header-container {
        padding: 2% 5%;
    }

    .header-logo {
        font-size: 24px;
    }

    .menu-list {
        gap: 25px;
        font-size: clamp(0.875rem, 0.5rem + 0.5vw, 1.25rem);
    }
}

@media (max-width:900px) {
    .header-container {
        gap: 30px;
        padding: 2% 5%;
    }

    .menu-list {
        gap: 15px;
        font-size: 16px;
    }
}

@media (max-width:780px) {
    .header-container {
        padding: 10px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .header-logo {
        font-size: 20px;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 12px;
        margin-left: 0;
        order: 3;
        width: 100%;
    }

    .language-dropdown {
        order: 2;
    }
}

@media (max-width:480px) {
    .header-container {
        padding: 8px;
        gap: 15px;
    }

    .header-logo {
        font-size: 18px;
    }

    .menu-list {
        font-size: 11px;
        gap: 3px;
    }
}