.tariffs_block {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 9% 12% 0;
    color: white;
}

.girl-background {
    background-image: url(../../images/background/back-girl.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    width: 20vw;
    height: 70vh;
    position: absolute;
    right: 0;
    bottom: -5%;
    z-index: 2;
    pointer-events: none;
}

.back-tariffs-circles {
    background: url(../../images/background/back-tafiffs-circles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 25vh;
    position: absolute;
    top: 6%;
    left: -47%;
    z-index: -1;
}

.tariffs-title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.75rem, 1.4466rem + 1.2945vw, 3rem);
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    margin-top: 2%;
    text-align: center;
}

.tariffs-title::before {
    content: '';
    background-image: url(../../images/decor/tariffs-down-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 226%;
    position: absolute;
    left: -80px;
    top: 0;
}

.tariffs-title::after {
    content: '';
    background-image: url(../../images/decor/tariffs-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 112%;
    position: absolute;
    top: -35px;
    left: 230px;
}

.tariffs-text-area {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 7%;
}

.tariffs-price_area {
    width: 54%;
    position: relative;
    text-align: center;
}

.tariffs-price_about {
    font-size: clamp(0.875rem, 0.7rem + 0.4vw, 1.125rem);
}

@media (max-width:1750px) {
    .girl-background {
        display: none;
    }

    .tariffs-text-area {
        justify-content: center;
    }

    .tariffs-price_area {
        left: 0;
        top: 0;
    }
}

@media (max-width:1699px) {
    .back-tariffs-circles {
        display: none;
    }

    .tariffs-title::after {
        left: 215px;
    }
}

@media (max-width:1440px) {
    .tariffs_block {
        padding: 9% 5% 0;
    }

    .back-tariffs-circles {
        display: none;
    }

    .tariffs-title::before {
        height: 250%;
    }

    .tariffs-title::after {
        left: 215px;
    }
}

@media (max-width:1280px) {
    .tariffs_block {
        padding: 9% 2% 0;
    }

    .tariffs-title {
        font-size: clamp(1.5rem, 0.5rem + 1.8vw, 2rem);
    }
}

@media (max-width:1024px) {
    .tariffs-title {
        font-size: clamp(1.25rem, 0.8rem + 1vw, 1.6rem);
    }
}

@media (max-width:980px) {
    .tariffs-text-area {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px) {
    .tariffs_block {
        padding: 9% 2% 0;
    }
}

@media (max-width:700px) {
    .tariffs_block {
        min-height: 667px;
        padding: 100px 15px 70px;
        height: auto;
    }

    .tariffs-title {
        margin: 0;
        font-size: 1.5rem;
    }

    .tariffs-title::after {
        top: -30px;
        left: 135px;
    }

    .tariffs-text-area {
        margin-top: 11%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .tariffs-price_area {
        width: 100%;
        left: 0;
    }

    .tariffs-price_about {
        font-size: 0.875rem;
    }
}

@media (min-width: 2100px) {
    .tariffs-text-area {
        gap: 100px;
        margin-top: 10%;
    }

    .tariffs-title {
        font-size: clamp(3rem, 2.5rem + 0.5vw, 3.5rem);
    }

    .tariffs-price_about {
        font-size: clamp(1.125rem, 1rem + 0.3vw, 1.375rem);
    }
}

@media (min-width: 2500px) {
    .tariffs-text-area {
        gap: 140px;
    }
}