.tariffs_block {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 9% 12% 0;
    color: white;
}

.tariffs-layout {
    background: url("../../images/background/tariffs-layout.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -275px;
    left: 0;
    z-index: -2;
}

.back-tariffs-circles {
    background: url(../../images/background/header-circles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 72vh;
    position: absolute;
    top: 24%;
    left: 3%;
    z-index: -1;
}

.tariffs-title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.75rem, 1.4466rem + 1.2945vw, 3rem);
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    margin-left: -61%;
    margin-top: 2%;
}

.tariffs-title::before {
    content: '';
    background-image: url(../../images/decor/tariffs-down-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 226%;
    position: absolute;
    left: -80px;
    top: 0;
}

.tariffs-title::after {
    content: '';
    background-image: url(../../images/decor/tariffs-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 112%;
    position: absolute;
    top: -35px;
    left: 230px;
}

.tariffs-text-area {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 5%;
}


@media (max-width:1699px) {
    .back-tariffs-circles {
        display: none;
    }
    
    .tariffs-title {
        font-size: clamp(2.5rem, 1rem + 1.6667vw, 3rem);
    }

    .tariffs-title::after {
        left: 215px;
    }

    .tariffs-layout {
        top: -25%;
    }
}

@media (max-width:1440px) {
    .tariffs_block {
        padding: 9% 5% 0;
    }

    .tariffs-layout {
        display: none;
    }

    .back-tariffs-circles {
        display: none;
    }

    .tariffs-title {
        font-size: clamp(2.5rem, 1rem + 1.6667vw, 3rem);
    }

    .tariffs-title::before {
        height: 250%;
    }

    .tariffs-title::after {
        left: 215px;
    }
}


@media (max-width:1280px) {
    .tariffs_block {
        padding: 9% 2% 0;
    }

    .tariffs-title {
        font-size: clamp(2rem, 0.5rem + 2.3438vw, 2.375rem);
    }
}

@media (max-width:1024px) {
    .tariffs-text-area {
        flex-wrap: wrap;
    }
    
    .tariffs_block {
        padding: 9% 2% 0;
    }

    .tariffs-title {
        font-size: clamp(2rem, 0.5rem + 2.3438vw, 2.375rem);
    }
}

@media (max-width:768px) {
    .tariffs_block {
        padding: 9% 2% 0;
    }

    .tariffs-title {
        font-size: clamp(2rem, 0.5rem + 2.3438vw, 2.375rem);
    }
}


@media (max-width:480px) {
    .tariffs_block {
        min-height: 667px;
        padding: 100px 15px 20px;
        height: auto;
    }

    .tariffs-layout {
        width: 150%;
        top: -90px;
    }

    .tariffs-title {
        margin: 0;
        font-size: 24px;
    }

    .tariffs-title::after {
        top: -30px;
        left: 135px;
    }

    .tariffs-text-area {
        margin-top: 11%;
        flex-direction: column;
        gap: 20px;
    }
}

@media ((min-width: 2100px)) {
    .tariffs-layout {
        top: -30%;
    }
    
    .tariffs-text-area {
        gap: 100px;
    }
}

@media ((min-width: 2500px)) {

    .tariffs-text-area {
        gap: 140px;
    }
}

@media ((min-width: 2800px)) {

    .back-tariffs-circles {
        height: 97vh;
        top: 6%;
        left: 1%;
    }
}

@media ((min-width: 3100px)) {
    
    .back-tariffs-circles {
        height: 102vh;
        top: 10%;
        left: 2%;
    }
}